* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  p {
    margin-bottom: 0.8rem;
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  strong {
    color: #f1c40f;
    font-weight: 400;
  }
  
  /* content + header */
  
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    padding: 1rem 2rem;
    background: #333;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 1.8rem;
  }
  
  .logo {
    margin-bottom: 0;
    font-family: "Long Cang", cursive;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  
  .logo i {
    color: #f1c40f;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  
  .logo a {
    font-size: 3rem;
    font-weight: 300;
  }
  
  header ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
  }
  
  header ul li {
    padding: 1rem;
  }
  
  header ul li a:hover {
    color: #f1c40f;
  }
  
  header a {
    color: white;
  }
  
  .section {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(https://dyma-images.s3.fr-par.scw.cloud/html-css/projects/project2/frame.jpg)
      center center/cover;
  }
  
  .content {
    max-width: 800px;
    text-align: center;
    color: white;
  }
  
  .content h1 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }
  
  .content p {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2rem;
  }
  